footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #f5f5f5;
  margin-top: 28px;
  padding-top: 27px;
  padding-bottom: 21px;

  p {
    margin: 0;
    line-height: 16px;
    text-align: center;
    @media (min-width: $screen-sm-min) {
      text-align: left;
    }
  }

  .logo-img {
    display: block;
    margin: 5px auto 0;
  }

  .contact-info {
    list-style: none;
    padding: 0;
    width: 224px;
    margin: 10px auto;

    @media (min-width: $screen-sm-min) {
      margin: 0;
      float: right;
    }

    li {
      float: left;

      &:first-child {
        margin-right: 12px;
      }
      a {
        color: $red;
      }
    }
  }
}