.navbar-default {
  .navbar-brand {
    padding: 15px 0 0 15px;

    .logo-img {
      width: 70%;
    }
    
    @media (min-width: $screen-sm-min) {
      padding: 15px 0 0 0;
      position: absolute;
      left: 420px;
      height: auto;

      .logo-img {
        width: auto;
      }
    }
    @media (min-width: 910px) {
      left: auto;
      right: 50%;
      margin: 0 -50px 0 0;
    }
  }

  .navbar-nav {
    &.main {
      @media (min-width: $screen-sm-min) {
        margin-left: -15px;
      }
    }
    li a {
      color: #333333;
      font-size: 15px;
      padding-right: 15px;
      padding-left: 15px;
    }
    &.navbar-right {
      margin-right: 0;
      .btn {
        margin-top: 20px;
      }
    }
  }
}