html, body {
  height: 100%;
}
#root {
  position: relative;
  min-height: 100%;
}
#root > .container {
  padding-bottom: 155px;

  @media (min-width: $screen-sm-min) {
    padding-bottom: 100px;
  }
}