
// Body
$body-bg: #FFFFFF;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;


// -------------------------------------
//   Colors
// -------------------------------------

// ----- Palette ----- //
$white: #FFF;
$gray: #888888;
$light-gray: #ded6d9;
$violet: #302782;
$light-violet: #593442;
$orange: #f4ad49;
$red: #e73d4f;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600,800|Roboto:800');
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Work Sans", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: $gray;

// Navbar
$navbar-default-bg: #fff;
$navbar-height: 81px;
$navbar-default-border: #dddddd;

// Buttons
$btn-default-color: $white;
$btn-primary-bg: $violet;
$btn-secondary-bg: $orange;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: rgba($light-violet, .4);
$input-group-addon-bg: transparent;
$input-group-addon-bg: $white;

// Panels
$panel-default-heading-bg: #fff;
