<template>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="access-panel">
                    <div class="access-panel-header">
                        <a href="javascript:void(0);" class="close-btn"></a>
                        <h1>
                            FORGOT
                        </h1>
                        <div class="middle-row">
                            <div class="lines"></div>
                            <span></span>
                            <div class="lines"></div>
                        </div>
                        <h4>
                            PASSWORD?
                        </h4>
                    </div>
                    <div class="access-panel-body">
                        <form method="post" @submit.prevent="submit()">
                            <div class="input-holder" v-bind:class="{'has-error': hasError}">
                                <div class="input-group border-bottom">
                                    <input type="text" class="form-control"
                                           placeholder="E-Mail"
                                           aria-describedby="basic-addon1"
                                           v-model="credentials.email">
                                    <span class="input-group-addon mail-icon" id="basic-addon1"></span>
                                </div>
                                <div class="input-group">
                                    <input type="password" class="form-control"
                                           placeholder="New Password"
                                           aria-describedby="basic-addon2"
                                           v-model="credentials.newPassword">
                                    <span class="input-group-addon lock-icon" id="basic-addon2"></span>
                                </div>
                            </div>
                            <div class="alert" v-if="hasMsg">
                                <p>{{ msg }}</p>
                            </div>
                            <input type="submit" class="btn btn-large btn-secondary-bg login-btn"
                                   value="SUBMIT">
                        </form>
                        <router-link to="/login" class="forgot-password smaller">
                            Back to Login
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import auth from "../auth"
    import router from '../router';
    import axiosInstance from '../api';

    export default {
        data() {
            return {
                credentials: {
                    email: '',
                    newPassword: ''
                },
                hasError: false,
                hasMsg: false,
                msg: false
            }
        },
        methods: {
            submit() {
                if( !this.credentials.email || !this.credentials.newPassword ) {
                    this.hasError = true;
                    this.hasMsg = true;
                    this.msg = 'Email and new password mandatory';
                }
                else {
                    this.hasError = false;
                    this.hasMsg = false;
                    this.msg = false;

                    axiosInstance.post('forgot-password', this.credentials)
                        .then((resp) => {
                            console.log(resp);
                            this.hasMsg = true;
                            this.msg = 'Check your email to confirm.'
                        })
                        .catch((error) => {
                            console.log(error.response.data.error.message);
                            this.hasMsg = true;
                            this.hasError = true;
                            this.msg = error.response.data.error.message
                        });
                }
            }
        }
    }
</script>