<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Dashboard</div>

                    <div class="panel-body">
                        You are logged in!
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import auth from '../auth'
    import router from '../router'
    export default {
        mounted() {
            console.log('home');
            console.log(auth.user.info.email);
        }
    }
</script>