<template>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="access-panel">
                    <div class="access-panel-header">
                        <a href="javascript:void(0);" class="close-btn"></a>
                        <h1>
                            LOGIN
                        </h1>
                        <div class="middle-row">
                            <div class="lines"></div>
                            <span>TO</span>
                            <div class="lines"></div>
                        </div>
                        <h4>
                            YOUR ACCOUNT
                        </h4>
                    </div>
                    <div class="access-panel-body">
                        <form method="post" @submit.prevent="submit()">
                            <div class="input-holder" v-bind:class="{'has-error': hasError}">
                                <div class="input-group border-bottom">
                                    <input type="text" class="form-control"
                                           placeholder="E-Mail"
                                           aria-describedby="basic-addon1"
                                           v-model="credentials.email">
                                    <span class="input-group-addon mail-icon" id="basic-addon1"></span>
                                </div>
                                <div class="input-group">
                                    <input type="password" class="form-control"
                                           placeholder="Password"
                                           aria-describedby="basic-addon2"
                                           v-model="credentials.password">
                                    <span class="input-group-addon lock-icon" id="basic-addon2"></span>
                                </div>
                            </div>
                            <div class="alert" v-if="error">
                                <p>{{ error }}</p>
                            </div>
                            <input type="submit" class="btn btn-large btn-secondary-bg login-btn"
                                   value="LOGIN">
                        </form>
                        <router-link to="/forgot-password" class="forgot-password">
                            FORGOT PASSWORD?
                        </router-link>
                    </div>
                </div>
                <div class="access-panel second-row">
                    <div class="rope left-side"></div>
                    <div class="rope right-side"></div>
                    <a href="javascript:void(0);" v-on:click="loginBitbucket()" class="btn btn-default btn-social">Login with <i class="fa fa-bitbucket" aria-hidden="true"></i></a>
                    <a href="javascript:void(0);" v-on:click="loginFacebook()" class="btn btn-default btn-social m-l">Login with <i class="fa fa-facebook" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import auth from "../auth"
    import router from '../router';
    import axiosInstance from '../api';

    export default {
        data() {
            return {
                credentials: {
                    email: '',
                    password: ''
                },
                hasError: false,
                error: false
            }
        },
        methods: {
            submit() {
                if( !this.credentials.email || !this.credentials.password ) {
                    this.hasError = true;
                    this.error = 'Email and Password mandatory';
                }
                else {
                    this.hasError = false;
                    this.error = false;

                    auth.doLogin(this, this.credentials, '/');
                }
            },
            loginBitbucket() {
                axiosInstance.get('login/bitbucket')
                    .then((res) => {
                        console.log(res);
                        window.open(res.data.data, '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes')
                    })
            },
            loginFacebook() {
                axiosInstance.get('login/facebook')
                    .then((res) => {
                        console.log(res);
                        window.open(res.data.data, '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes')
                    })
            }
        }
    }
</script>