<template>
</template>
<script>
    import router from '../router'
    import auth from '../auth'


    export default {
        beforeCreate() {
            auth.doLogout()
            router.push('login')
        }
    }
</script>