.access-panel {
  width: 100%;
  max-width: 374px;
  margin: 50px auto 0;
  padding-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 7px -1px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 1px 7px -1px rgba(0,0,0,0.4);
  box-shadow: 0px 1px 7px -1px rgba(0,0,0,0.4);

  &.second-row{
    position: relative;
    margin-top: 7px;
    padding: 16px 0;
    text-align: center;

    .m-l {
      margin-left: 9px;
    }
  }

  .rope {
    position: absolute;
    width: 12px;
    height: 39px;
    top: -24px;
    background: transparent url("../images/rope-icon@2x.png") no-repeat;
    background-size: 12px 39px;

    &.left-side {
      left: 36px;
    }
    &.right-side {
      right: 36px;
    }
  }

  .access-panel-header {
    position: relative;
    background: transparent url("../images/login-header-bg@2x.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 219px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    .close-btn {
      display: block;
      width: 38px;
      height: 45px;
      background: transparent url("../images/login-close-icon@2x.png") no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      right: 19px;
    }

    h1 {
      font-size: 50px;
      color: $white;
      margin: 0;
      padding-top: 82px;
      text-align: center;
      line-height: 40px;
    }
    .middle-row {
      width: 137px;
      margin: 0 auto;

      .lines {
        display: inline-block;
        width: 55px;
        height: 6px;
        border: 1px solid $white;
        border-left: 0;
        border-right: 0;
      }

      span {
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        font-weight: 800;
        color: $white;
      }
    }

    h4 {
      font-size: 18px;
      color: $white;
      margin: 0;
      padding-top: 5px;
      text-align: center;
      font-weight: 800;
      line-height: 16px;
    }
  }

  .access-panel-body {
    padding: 30px 30px 0;

    .alert {
      padding: 0;
      margin: 0;
      p {
        margin: 11px 0 0 0;
        color: $red;
        text-align: center;
      }
    }
    .input-holder {
      border: 1px solid $light-gray;
      background-color: $white;
      border-radius: 4px;
      -webkit-box-shadow: inset 0px 1px 6px -2px rgba(0,0,0,0.3);
      -moz-box-shadow: inset 0px 1px 6px -2px rgba(0,0,0,0.3);
      box-shadow: inset 0px 1px 6px -2px rgba(0,0,0,0.3);

      &.has-error, &.has-error .input-group{
        border-color: $red;
      }
    }
    .input-group {
      padding: 7px 15px 7px;

      &.border-bottom {
        border-bottom: 1px solid $light-gray;
      }

      .form-control {
        border: 0 none;
        font-weight: 600;
        font-size: 15px;
        box-shadow: none;
      }
      .input-group-addon {
        border: 0 none;

        &.mail-icon {
          background: transparent url("../images/mail-icon@2x.png") center no-repeat;
          background-size: 24px 19px;
        }
        &.lock-icon {
          background: transparent url("../images/lock-icon@2x.png") center no-repeat;
          background-size: 20px 24px;
        }
      }
    }
    .login-btn {
      margin: 17px 0;
      -webkit-box-shadow: inset 0px -2px 2px 0px rgba(0,0,0,0.2);
      -moz-box-shadow: inset 0px -2px 2px 0px rgba(0,0,0,0.2);
      box-shadow: inset 0px -2px 2px 0px rgba(0,0,0,0.2);
    }

    .forgot-password {
      display: block;
      width: 118px;
      margin: 0 auto;
      font-size: 11px;
      color: rgba($light-violet, 0.3);
      padding: 5px 0;

      &.smaller {
        width: 77px;
      }
    }
  }
}