.btn {
  font-weight: 600;
  font-size: 15px;
  color: $white;
  border: 0 none;

  &:focus {
    outline: none;
  }

  &.btn-large {
    width: 100%;
    padding: 16px 0;
  }
  &.btn-primary-bg {
    background-color: $btn-primary-bg;
  }
  &.btn-secondary-bg {
    background-color: $btn-secondary-bg;
  }

  &.btn-social {
    background-color: transparent;
    color: rgba($light-violet, .5);
    border: 1px solid rgba($light-violet, .5);
    font-weight: 800;

    i {
      font-size: 21px;
    }
  }
}