<template>
    <div>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">

                    <!-- Collapsed Hamburger -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Branding Image -->
                    <a class="navbar-brand" href="">
                        <img src="/images/potluck-logo@2x.jpg" class="logo-img" srcset="/images/potluck-logo@2x.jpg 2x">
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="app-navbar-collapse">
                    <!-- Left Side Of Navbar -->
                    <ul class="nav navbar-nav main">
                        &nbsp;<li>
                        <a href="#">Set up your potluck</a>
                    </li>
                        <li>
                            <a href="#">How it works</a>
                        </li>
                        <li>
                            <a href="#">About us</a>
                        </li>
                        <li class="visible-xs">
                            <a href="#">Sign In</a>
                        </li>
                    </ul>

                    <!-- Right Side Of Navbar -->
                    <ul class="nav navbar-nav navbar-right hidden-xs">
                        <a class="btn btn-default btn-primary-bg" v-if="!auth">
                            Sign In
                        </a>
                        <a href="/logout" class="btn btn-default btn-primary-bg" v-if="auth">
                            Logout
                        </a>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="loading" v-if="user.loading">
            <i class="fa fa-refresh fa-5x fa-spin"></i>
        </div>
        <router-view></router-view>

        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-push-4 col-sm-4">
                        <img src="/images/potluck-logo-footer@2x.png" class="logo-img" srcset="/images/potluck-logo-footer@2x.png 2x">
                    </div>
                    <div class="col-xs-12 col-sm-push-4 col-sm-4">
                        <ul class="contact-info clearfix">
                            <li>
                                <a href="mailto:info@potluck.us">info@potluck.us</a>
                            </li>
                            <li>
                                <a href="tel:1 888.221.8187">1 888.221.8187</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-pull-8 col-sm-4">
                        <p>
                            2017 &copy; Potluck by CookUnity, all rights reserved.
                        </p>
                    </div>

                </div>
            </div>
        </footer>
    </div>
</template>
<script>
    import auth from './auth'
    export default {
        created() {
            console.log('App.vue');
        },
        data() {
            return {
                user: auth.user
            }
        },
        computed: {
            auth() {
                if(this.user.authenticated) {
                    return true;
                }

                return false;
            }
        }
    }
</script>